function Main.main 1
push constant 0
pop local 0
label LABEL_0
push local 0
push constant 10
lt
not
if-goto LABEL_1
push local 0
push constant 5
gt
not
if-goto LABEL_2
push local 0
call Output.printInt 1
pop temp 0
goto LABEL_3
label LABEL_2
label LABEL_3
push local 0
push constant 1
add
pop local 0
goto LABEL_0
label LABEL_1
push constant 0
return